################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IAudit.Teste/DesignTimeBuild/.dtbcache.v2
